*.ilk
*.pdb
*.log
*.idb
*.exp
*.iobj
*.ipdb
*.tlog
*.tlog/
*.lastbuildstate

*.sdf
*.user
*.suo

Intermediates/
ipch/
/Dependencies/LUA/Release
/SandboxCS/obj/Debug
/Sparky.VC.VC.opendb
/Sparky.VC.db
/Dependencies/LUA/doc
/Tools/bin/Debug
/Dependencies/luabind/Debug
/bin/Debug
